# Python
*.pyc
*.pyo
__pycache__/

# Entornos virtuales
venv/
env/
*.env

# Archivos de configuración de IDE (Visual Studio Code, PyCharm, etc.)
.vscode/
.idea/

# Archivos de configuración de Streamlit
.config/

# Archivos de logs
*.log

# Archivos generados por el sistema operativo
.DS_Store
Thumbs.db

# Archivos de compilación de Cython
*.c
*.cpp

# Archivos de bases de datos (si usas SQLite, por ejemplo)
*.db
*.sqlite

# Archivos de Jupyter Notebook
.ipynb_checkpoints/
